
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Downy Shoes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Downy Shoes Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //custom-theme -->
	<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" href="../static/css/shop.css" type="text/css" media="screen" property="" />
	<link href="../static/css/style7.css" rel="stylesheet" type="text/css" media="all" />
	<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome-icons -->
	<link href="../static/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome-icons -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
	
</head>
<style>
	#customers {
	  font-family: Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	
	#customers td, #customers th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}
	
	#customers tr:nth-child(even){background-color: #f2f2f2;}
	
	#customers tr:hover {background-color: #ddd;}
	
	#customers th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: DodgerBlue;
	  color: white;
	}
	</style>

<body>
	<!-- banner -->
	<div class="banner_top innerpage" id="home">
		<div class="wrapper_top_w3layouts">
			<div class="header_agileits">
				<div class="logo inner_page_log">
					<h1><a class="navbar-brand" href="Home.html"><span>Downy</span> <i>Shoes</i></a></h1>
				</div>
				<div class="overlay overlay-contentpush">
					<button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>

					<nav>
						<ul>
							<li><a href="{% url 'home' %}" class="active">Home</a></li>
							<li><a href="{% url 'listall' %}">List Users</a></li>
							<li><a href="{% url 'showorder' %}">List Orders</a></li>
							<li><a href="{% url 'showven' %}">List Vendors</a></li>
							<li><a href="{% url 'listall' %}">List Drivers</a></li>
							<li><a href="{% url 'showcat' %}">List Category</a></li>
							<li><a href="{% url 'showsc' %}">List Subcategory</a></li>
							<li><a href="{% url 'showprod' %}">List Products</a></li>
					
                           
						</ul>
					</nav>
				</div>
				<div class="mobile-nav-button">
					<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
				</div>
				
			</div>
		</div>
		
	
		<!-- //search -->
		<div class="clearfix"></div>
		<!-- /banner_inner -->
		<div class="services-breadcrumb_w3ls_agileinfo">
			<div class="inner_breadcrumb_agileits_w3">

				<ul class="short">
					<li><a href="Home.html">Home</a><i>|</i></li>
					<li>Subcategory</li>
				</ul>
			</div>
		</div>
		<!-- //banner_inner -->
	</div>

	<!-- //banner -->
	<!-- top Products -->
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<div class="error_page">
				<h4>Subcategory</h4><br><br>
					<form action="{% url 'search' %}" method="POST">
					{% csrf_token %}
					<label for="search">Search</label>
					<input type="text" placeholder="Search Order.." name="Uname">
					<button type="submit" class="btn btn-success">Search</button>
					</form>
					<br>
					<button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-plus"></span> <a href="{% url 'addsc' %}">Add Subcategory</a>
					  </button>
					  <br>
					  <br>
					<table class="table-bordered table-hover"style="width:100%" id="customers">
						<thead >
						<tr>
							<th>Subcategory name</th>
							<th>Subcategory Image</th>
							<th>Subcategory description </th>
							<th>Category name</th>
                            <th>Vendor </th>
							<th>Edit</th>
							
						</tr>
						</thead>
						<tbody>
						{% for i in lc %}					
						<tr>
							<td>
								{{i.subcategory_name}}
							</td>
							<td>
								{{i.subcategory_image}}
							</td>
							<td>
								{{i.subcategory_desc}}
							</td>						
                            <td>
								{{i.category_id}}
							</td>
                            <td>
								{{i.Vendor_id}}
							</td>					
							<td>
								
								<button type="button" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-pencil"></span> <a href="{% url 'up_sc' subcategoryid=i.id %}">Update</a>
								  </button>
								  <button type="button" class="btn btn-default btn-sm">
									<span class="glyphicon glyphicon-trash"></span> <a href="{% url 'del_sc' subcategoryid=i.id %}">Delete  </a>
								  </button>
								
							</td>
						</tr>
						{% endfor %}
					</tbody>
						</table>

				
				<a class="b-home" href="{% url 'home' %}" >Back to Home</a>
				
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer_agileinfo_w3">
		<div class="footer_inner_info_w3ls_agileits">
			<div class="col-md-3 footer-left">
				<h2><a href="Home.html"><span>D</span>owny Shoes </a></h2>
				<p>Lorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
				<ul class="social-nav model-3d-0 footer-social social two">
					<li>
						<a href="#" class="facebook">
							<div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="#" class="twitter">
							<div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="#" class="instagram">
							<div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
						</a>
					</li>
					<li>
						<a href="#" class="pinterest">
							<div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
							<div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-9 footer-right">
				<div class="sign-grds">
					<div class="col-md-4 sign-gd">
						<h4>Our <span>Information</span> </h4>
						<ul>
							<li><a href="Home.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="login.html">Signin</a></li>
							<li><a href="404.html">Short Codes</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>

					<div class="col-md-5 sign-gd-two">
						<h4>Store <span>Information</span></h4>
						<div class="address">
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-phone" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Phone Number</h6>
									<p>+1 234 567 8901</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Email Address</h6>
									<p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="address-grid">
								<div class="address-left">
									<i class="fa fa-map-marker" aria-hidden="true"></i>
								</div>
								<div class="address-right">
									<h6>Location</h6>
									<p>Broome St, NY 10002,California, USA.

									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="col-md-3 sign-gd flickr-post">
						<h4>Flickr <span>Posts</span></h4>
						<ul>
							<li><a href="single.html"><img src="../static/images/t1.jpg" alt=" " class="img-responsive" /></a></li>
							<li><a href="single.html"><img src="../static/images/t2.jpg" alt=" " class="img-responsive" /></a></li>
							<li><a href="single.html"><img src="../static/images/t3.jpg" alt=" " class="img-responsive" /></a></li>
							<li><a href="single.html"><img src="../static/images/t4.jpg" alt=" " class="img-responsive" /></a></li>
							<li><a href="single.html"><img src="../static/images/t1.jpg" alt=" " class="img-responsive" /></a></li>
							<li><a href="single.html"><img src="../static/images/t2.jpg" alt=" " class="img-responsive" /></a></li>
							<li><a href="single.html"><img src="../static/images/t3.jpg" alt=" " class="img-responsive" /></a></li>
							<li><a href="single.html"><img src="../static/images/t2.jpg" alt=" " class="img-responsive" /></a></li>
							<li><a href="single.html"><img src="../static/images/t4.jpg" alt=" " class="img-responsive" /></a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>

			<p class="copy-right-w3ls-agileits">&copy 2018 Downy Shoes. All rights reserved | Design by <a href="http://w3layouts.com/">w3layouts</a></p>
		</div>
	</div>
	</div>
	<!-- //footer -->
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- cart-js -->
	<script src="../static/js/minicart.js"></script>
	<script>
		shoe.render();

		shoe.cart.on('shoe_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- /nav -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<script src="../static/js/classie.js"></script>
	<script src="../static/js/demo1.js"></script>
	<!-- //nav -->
	<!-- script for responsive tabs -->
	<script src="../static/js/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>


	<!--search-bar-->
	<script src="../static/js/search.js"></script>
	<!--//search-bar-->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../static/js/move-top.js"></script>
	<script type="text/javascript" src="../static/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smoth-scrolling -->
	<script type="text/javascript" src="../static/js/bootstrap-3.1.1.min.js"></script>

</body>

</html>