{% extends 'hf.html' %}

{% block content %}



    <!-- Breadcrumbs -->
    
    <!-- SVG Divider -->
    
   
    <!-- Checkout delivery -->
    
    <section class="pt-0">
        <div class="container">
            <div class="col-lg-8">
                <h2 class="mb-0 h4">Delivery options</h2>
                <small class="pre-label d-none d-lg-block">Select delivery option</small>
            </div>

        </div>
        <!-- Checkout steps -->
        
        <div class="pt-3 pt-lg-4 pb-5 pb-lg-6 mb-2 mb-lg-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="steps steps-sm">
                            <ul class="row">
                                <li class="col  active">
                                    <a href="checkout.html">
                                        <span class="step-item" data-text="Checkout">
                                            <span>1</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="col active">
                                    <a href="checkout-login.html">
                                        <span class="step-item" data-text="Login">
                                            <span>2</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="col  current">
                                    <a href="checkout-delivery.html">
                                        <span class="step-item" data-text="Delivery">
                                            <span>3</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="col">
                                    <a href="checkout-payment.html">
                                        <span class="step-item" data-text="Payment">
                                            <span>4</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="col">
                                    <a href="checkout-receipt.html">
                                        <span class="step-item" data-text="Receipt">
                                            <span>5</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Delivery -->
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-xl-8">
    
                    <!-- Delivery alert -->
    
                    <div class="alert alert-warning shadow-sm rounded mb-4 p-3 p-lg-4 mb-5 p-md-5">
                        <h2 class="h6">Delivery info</h2>
                        <p>
                            A frequently overlooked, powerful fulfillment option is offering local pick-up.
                            If you have a physical location and can allow your customers to forgo paying shipping
                            costs altogether, you should!
                        </p>
                    </div>
    
                    <h2 class="pre-label font-size-base">Select delivery</h2>
    
                    <!-- Delivery oneday shipping -->
    
                    <div class="accordion br-sm" id="accordionDeliveryExample">
    
                        <div class="card card-fill mb-3 shadow-sm rounded">
                            <div class="card-header p-3 p-md-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne">
                                            <label class="custom-control-label pl-2 pl-lg-4" for="customRadio1">
                                                <span class="h5 m-0">One-day Shipping</span><br />
                                                <small>Estimated around 24 hrs</small>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="h4 m-0 pt-3 pt-lg-0">
                                            $ 199,00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseOne" class="collapse pt-0" aria-labelledby="customRadio1" data-parent="#accordionDeliveryExample">
                                <hr class="m-0">
                                <div class="card-body">
                                    Possimus, consectetur ullam dicta explicabo sit corrupti incidunt exercitationem optio quos doloremque neque
                                    placeat recusandae obcaecati ab quidem commodi, eaque earum unde?
                                </div>
                            </div>
                        </div>
    
                        <!-- Delivery economy shipping -->
    
                        <div class="card card-fill mb-3 shadow-sm rounded">
                            <div class="card-header p-3 p-md-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo">
                                            <label class="custom-control-label pl-2 pl-lg-4" for="customRadio2">
                                                <span class="h5 m-0">Economy Shipping</span><br />
                                                <small>You will receive order in 1-3 days</small>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="h4 m-0 pt-3 pt-lg-0">
                                            $ 99,00
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse pt-0" aria-labelledby="customRadio2" data-parent="#accordionDeliveryExample">
                                <hr class="m-0">
                                <div class="card-body">
                                    Incidunt exercitationem optio quos doloremque neque placeat recusandae obcaecati ab quidem commodi, eaque earum unde?
                                </div>
                            </div>
                        </div>
    
                        <!-- Delivery free shipping -->
    
                        <div class="card card-fill mb-3 shadow-sm rounded">
                            <div class="card-header p-3 p-md-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree">
                                            <label class="custom-control-label pl-2 pl-lg-4" for="customRadio3">
                                                <span class="h5 m-0">Free shipping</span><br />
                                                <small>Available for smaller packages</small>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="h4 m-0 pt-3 pt-lg-0">
                                            Free
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse pt-0" aria-labelledby="customRadio3" data-parent="#accordionDeliveryExample">
                                <hr class="m-0">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, consectetur ullam dicta explicabo sit corrupti incidunt
                                    exercitationem optio quos doloremque neque placeat recusandae obcaecati ab quidem commodi, eaque earum unde?
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Delivery buttons -->
    
                    <div class="py-3">
                        <div class="row align-items-center no-gutters">
                            <div class="col-6">
                                <a href="checkout-login.html" class="btn btn-dark btn-primary btn-rounded px-lg-5">Back</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="checkout-payment.html" class="btn btn-primary btn-rounded px-lg-5">Proceed to payment</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    
   
    <!-- Vendor Scripts -->

  
    {% endblock %}