{% extends 'hf.html' %}

{% block content %}


   


<!-- SVG Divider -->

    <!-- Cart -->
    
    <section class="pt-0">
        <div class="container">
            <div class="col-lg-8">
                <h2 class="mb-0 h4">Checkout here</h2>
                <small class="pre-label d-none d-lg-block">Double check your product</small>
            </div>

        </div>
    
        <!-- Checkout steps -->
        
        <div class="pt-3 pt-lg-4 pb-5 pb-lg-6 mb-2 mb-lg-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="steps steps-sm">
                            <ul class="row">
                                <li class="col  current">
                                    <a href="checkout.html">
                                        <span class="step-item" data-text="Checkout">
                                            <span>1</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="col">
                                    <a href="checkout-login.html">
                                        <span class="step-item" data-text="Login">
                                            <span>2</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="col ">
                                    <a href="checkout-delivery.html">
                                        <span class="step-item" data-text="Delivery">
                                            <span>3</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="col">
                                    <a href="checkout-payment.html">
                                        <span class="step-item" data-text="Payment">
                                            <span>4</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="col">
                                    <a href="checkout-receipt.html">
                                        <span class="step-item" data-text="Receipt">
                                            <span>5</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Cart items -->
    
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
    
                    <h2 class="pre-label font-size-base">Cart items</h2>
    
                    <div class="bg-white shadow-sm rounded mb-3 p-3 alert alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Delete">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row align-items-center no-gutters p-md-2">
                            <div class="col-lg-2">
                                <img src="{% static  'reveal/assets/images//demo/product-1.png" alt="" class="img-fluid" />
                            </div>
                            <div class="col-lg-5 pl-lg-3 mb-2 mb-lg-0">
                                <h2 class="h5 mb-0">Coretta</h2>
                                <span>Electronics</span>
                            </div>
                            <div class="col-6 col-lg-2">
                                <input type="number" value="1" class="form-control" />
                            </div>
                            <div class="col-6 col-lg-3 text-right">
                                <div class="h5 mb-0">$490,00</div>
                                <small class="text-muted"><s>$877,00</s></small>
                            </div>
                        </div>
                    </div>
    
                    <div class="bg-white shadow-sm rounded mb-3 p-3 alert alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Delete">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row align-items-center no-gutters p-md-2">
                            <div class="col-lg-2">
                                <img src="{% static  'reveal/assets/images//demo/product-2.png" alt="" class="img-fluid" />
                            </div>
                            <div class="col-lg-5 pl-lg-3 mb-2 mb-lg-0">
                                <h2 class="h5 mb-0">Tonya</h2>
                                <span>Electronics</span>
                            </div>
                            <div class="col-6 col-lg-2">
                                <input type="number" value="1" class="form-control" />
                            </div>
                            <div class="col-6 col-lg-3 text-right">
                                <div class="h5 mb-0">$419,00</div>
                                <small class="text-muted"><s>$958,00</s></small>
                            </div>
                        </div>
                    </div>
    
                    <div class="bg-white shadow-sm rounded mb-3 p-3 alert alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Delete">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row align-items-center no-gutters p-md-2">
                            <div class="col-lg-2">
                                <img src="{% static  'reveal/assets/images//demo/product-3.png" alt="" class="img-fluid" />
                            </div>
                            <div class="col-lg-5 pl-lg-3 mb-2 mb-lg-0">
                                <h2 class="h5 mb-0">Raven</h2>
                                <span>Electronics</span>
                            </div>
                            <div class="col-6 col-lg-2">
                                <input type="number" value="1" class="form-control" />
                            </div>
                            <div class="col-6 col-lg-3 text-right">
                                <div class="h5 mb-0">$502,00</div>
                                <small class="text-muted"><s>$857,00</s></small>
                            </div>
                        </div>
                    </div>
    
    
                    <!-- Discount and promocode -->
    
                    <div class="bg-white shadow-sm rounded mb-3 p-3">
                        <div class="row align-items-center no-gutters p-md-2">
    
                            <div class="col-lg-7">
                                <div class="py-2">
                                    <label>Promo code:</label>
                                    <input type="text" value="" class="form-control form-control-sm w-auto" name="couponcode" id="couponcode" placeholder="Coupon code" />
                                </div>
                            </div>
    
                            <div class="col-lg-5">
                                <div class="row no-gutters">
                                    <div class="col-6">
                                        <b>Discount 20%</b>
                                    </div>
                                    <div class="col-6 text-right">
                                        $ 90,00
                                    </div>
                                    <div class="col-6">
                                        <b>Shipping</b>
                                    </div>
                                    <div class="col-6 text-right">
                                        $ 50,00
                                    </div>
                                    <div class="col-6">
                                        <b>Vat</b>
                                    </div>
                                    <div class="col-6 text-right">
                                        $ 49,00
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>
    
                    <!-- Total price -->
    
                    <div class="bg-white shadow-sm rounded mb-2 p-3">
                        <div class="p-md-4">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <div class="h4 mb-0">Total price</div>
                                </div>
                                <div class="col-6 text-right">
                                    <div class="h4 mb-0">$ 490,00</div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Buttons -->
    
                    <div class="py-3">
                        <div class="row align-items-center no-gutters">
                            <div class="col-6">
                                <a href="#" class="btn btn-dark btn-primary btn-rounded px-lg-5">Shop more</a>
                            </div>
                            <div class="col-6 text-right">
                                <a href="checkout-login.html" class="btn btn-primary btn-rounded px-lg-5">Next step</a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    <!-- Footer -->
    
    

    
    {% endblock %}