{% extends 'hf.html' %}

{% block content %}

    <section class="cover-wrap bg-primary bg-primary-gradient">
    
        <div class="cover cover-overlay cover-gradient-vertical-bottom" style="background-image: url(assets/images/general/4.jpg);opacity:.6"></div>
    
        <div class="container position-relative">
    
            <header class="wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="row justify-content-center pt-5 text-center text-white mb-5">
                    <div class="col-xl-8">
                        <h1 class="mb-0">Let's connect</h1>
                        <p>You'll be luckiest  with us</p>
                    </div>
                </div>
            </header>
    
            <div class="row justify-content-center pt-lg-5 mb-5">
                <div class="col-xl-10">
                    <div class="row gutters-mobile align-items-center justify-content-center">
                        <div class="col-6 col-lg-4 mb-2 mb-lg-4">
                            <div class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <div class="lift bg-white br-sm pt-lg-5">
                                    <div class="p-3 p-lg-5">
                                        <div class="pb-4"><i class="display-2 icon icon-phone"></i></div>
                                        <h2 class="h4">Call us</h2>
                                        <div class="d-none d-lg-block">
                                            <p class="mb-1"><a href="#">8139851688</a></p>
                                            <p class="mb-1"><a href="#" >8139851688</a></p>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 mb-2 mb-lg-4">
                            <div class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <div class="lift bg-white br-sm pt-lg-5">
                                    <div class="p-3 p-lg-5">
                                        <div class="pb-4"><i class="display-2 icon icon-apartment"></i></div>
                                        <h2 class="h4">Meet us</h2>
                                        <div class="d-none d-lg-block">
                                           
                                         
                                            <p class="mb-1"> Koovs Marketing &  <br> Consulting Pvt. Ltd</p>
                                            <p class="mb-1">3rd Floor, 77 A</p>
                                            <p class="mb-1">Sector-18, IFFCO Road,</p>
                                            <p class="mb-1"> Gurgaon - 122015</p>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 mb-2 mb-lg-4 d-none d-lg-inline-block">
                            <div class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <div class="lift bg-white br-sm pt-lg-5">
                                    <div class="p-3 p-lg-5">
                                        <div class="pb-4"><i class="display-2 icon icon-envelope"></i></div>
                                        <h2 class="h4">Text us</h2>
                                        <div class="d-none d-lg-block">
                                            <p class="mb-1"><a href="#">mail@mail.com</a></p>
                                            <p class="mb-1"><a href="#">mail@mail.com</a></p>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                <div class="text-white py-lg-5 text-center">
                    <p class="lead">
                        <strong>We are always here</strong> to hear your valuable voice!
                    </p>
                    <a href="#" class="btn btn-rounded btn-outline-light ml-2">Shout out now!</a>
                </div>
            </div>
    
        </div>
    </section>
    
            
                    
    <section class="section bg-white">
        <div class="container wow fadeInUp" data-wow-delay=".1s">
                <div class="row justify-content-center pt-5">
                    
                    <div class="col-lg-8">
                        <div class="py-3 py-lg-4">
                                
                            <!-- Reply header -->
                        
                            <header>
                                <div class="h3 mb-1">Leave a Reply</div>
                                <p class="text-muted"><small>Your email address will not be published.</small></p>
                            </header>
                        
                            <!-- Reply form -->
                        
                            <div class="pt-3 pt-lg-4">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label class="label" for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="label" for="exampleInputName1">Your name</label>
                                                <input type="password" class="form-control" id="exampleInputName1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="label" for="exampleComment">Comment</label>
                                        <textarea class="form-control" name="" id="exampleComment" cols="20" rows="4"></textarea>
                                    </div>
                        
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="custom-control custom-checkbox custom-control-light">
                                            <input type="checkbox" class="custom-control-input" id="customCheckTheme1">
                                            <label class="custom-control-label" for="customCheckTheme1">Notify me on reply</label>
                                        </div>
                                        <button type="submit" class="btn link link-right link-dark"><strong>Send reply</strong></button>
                                    </div>
                                </form>
                            </div>
                        
                        </div>

                    </div>
                </div>
        </div>
    </section>
        
    
    





</body>













{% endblock %}