{% extends 'hf.html' %}

{% block content %}




    <!-- Header -->
    <section class="section bg-white">
        <div class="container">
            <header class="wow fadeInUp" data-wow-delay=".1s">
                <div class="row justify-content-center pt-5">
                    <div class="col-lg-8">
                        <label class="pre-label mb-0">Shop now</label>
                        <h2 class="display-2">
                            <strong>New collection is here!</strong> Get your 40% discount
                        </h2>
                    </div>
                </div>
            </header>
        </div>
    </section>
    
    <!-- Top columns -->
    
    <section class="bg-white p-0">
        <div class="container">
            <div class="row">
    
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="wow fadeInUp" data-wow-delay=".2s">
                        <div class="box box-image box-hover-fall br-sm" style="background-image:url(static/reveal/assets/images/templates//clothing/shop-1.jpg)">
                            <div class="box-spacer-xl"></div>
                            <div class="box-content">
                                <h2 class="display-4 font-family-body text-white">
                                    <strong>Woman's</strong>
                                </h2>
                                <p><span><a href="#" class="text-muted">New arrivals</a></span></p>
                                <p><span><a href="#" class="text-muted">Discount sales</a></span></p>
                                <p><span><a href="#" class="text-muted">More</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="wow fadeInUp" data-wow-delay=".4s">
                        <div class="box box-image box-hover-fall br-sm" style="background-image:url(static/reveal/assets/images/templates//clothing/shop-2.jpg)">
                            <div class="box-spacer-xl"></div>
                            <div class="box-content">
                                <h2 class="display-4 font-family-body text-white">
                                    <strong>Man's</strong>
                                </h2>
                                <p><span><a href="#" class="text-muted">New arrivals</a></span></p>
                                <p><span><a href="#" class="text-muted">Discount sales</a></span></p>
                                <p><span><a href="#" class="text-muted">More</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="wow fadeInUp" data-wow-delay=".6s">
                        <div class="box box-image box-hover-fall br-sm" style="background-image:url(static/reveal/assets/images/templates//clothing/shop-3.jpg)">
                            <div class="box-spacer-xl"></div>
                            <div class="box-content">
                                <h2 class="display-4 font-family-body text-white">
                                    <strong>Kid's</strong>
                                </h2>
                                <p><span><a href="#" class="text-muted">New arrivals</a></span></p>
                                <p><span><a href="#" class="text-muted">Discount sales</a></span></p>
                                <p><span><a href="#" class="text-muted">More</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    <!-- Sport collections -->
    
    <section class="bg-white">
        <div class="container">
    
            <header class="wow fadeInUp" data-wow-delay=".2s">
                <h2 class="display-4">Explore <strong>sport</strong> collections</h2>
            </header>
    
            <div class="wow fadeInUp" data-wow-delay=".2s">
                <div class="row">
                    <div class="col mb-3 mb-lg-0">
                        <a href="#" class="btn btn-rounded btn-block btn-outline-dark">Outdoor</a>
                    </div>
                    <div class="col mb-3 mb-lg-0">
                        <a href="#" class="btn btn-rounded btn-block btn-outline-dark">Training</a>
                    </div>
                    <div class="col mb-3 mb-lg-0">
                        <a href="#" class="btn btn-rounded btn-block btn-outline-dark">Running</a>
                    </div>
                    <div class="col mb-3 mb-lg-0">
                        <a href="#" class="btn btn-rounded btn-block btn-outline-dark">Fintess</a>
                    </div>
                    <div class="col mb-3 mb-lg-0">
                        <a href="#" class="btn btn-rounded btn-block btn-outline-dark">Wintersport</a>
                    </div>
                    <div class="col mb-3 mb-lg-0">
                        <a href="#" class="btn btn-rounded btn-block btn-dark text-nowrap">All categories</a>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    
    <hr class="m-0">
    
    <!-- Popular categories -->
    
    <section class="bg-white">
        <div class="container">
    
            <header class="wow fadeInUp" data-wow-delay=".2s">
                <h2 class="display-4">Popular <strong>categories</strong></h2>
            </header>
    
            <div class="row">
    
                <div class="col-md-6 mb-4">
                    <div class="wow fadeInUp" data-wow-delay=".4s">
                        <a href="#" class="box box-image box-hover-pull br-sm" style="background-image:url(static/reveal/assets/images/templates//clothing/collection-1.jpg)">
                            <div class="box-spacer-xl"></div>
                            <div class="box-content text-white text-center">
                                <header>
                                    <div class="display-3"><strong>Jackets</strong> </div>
                                </header>
                                <footer class="p-4">
                                    <small class="pre-label text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit soluta fugit earum optio</small>
                                </footer>
                            </div>
                        </a>
                    </div>
                </div>
    
                <div class="col-md-6 mb-4">
                    <div class="wow fadeInUp" data-wow-delay=".6s">
                        <a href="#" class="box box-image box-hover-pull br-sm" style="background-image:url(static/reveal/assets/images/templates//clothing/collection-2.jpg)">
                            <div class="box-spacer-xl"></div>
                            <div class="box-content text-white text-center">
                                <header>
                                    <span class="display-3"><strong>Bags</strong></span>
                                </header>
                                <footer class="p-4">
                                    <small class="pre-label text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit soluta fugit earum optio</small>
                                </footer>
                            </div>
                        </a>
                    </div>
                </div>
    
                <div class="col-md-4 mb-4">
                    <div class="wow fadeInUp" data-wow-delay=".7s">
                        <a href="#" class="box box-image box-hover-pull br-sm" style="background-image:url(static/reveal/assets/images/templates//clothing/ladie-1.jpg)">
                            <div class="box-spacer-xl"></div>
                            <div class="box-content text-white text-center">
                                <header>
                                    <span class="display-4"><strong>Outdoor</strong></span>
                                </header>
                                <footer class="p-4">
                                    <small class="pre-label text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit</small>
                                </footer>
                            </div>
                        </a>
                    </div>
                </div>
    
                <div class="col-md-4 mb-4">
                    <div class="wow fadeInUp" data-wow-delay=".9s">
                        <a href="#" class="box box-image box-hover-pull br-sm" style="background-image:url(static/reveal/assets/images/templates//clothing/ladie-2.jpg)">
                            <div class="box-spacer-xl"></div>
                            <div class="box-content text-white text-center">
                                <header>
                                    <span class="display-4"><strong>Winterski</strong></span>
                                </header>
                                <footer class="p-4">
                                    <small class="pre-label text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit</small>
                                </footer>
                            </div>
                        </a>
                    </div>
                </div>
    
                <div class="col-md-4 mb-4">
                    <div class="wow fadeInUp" data-wow-delay=".9s">
                        <a href="#" class="box box-image box-hover-pull br-sm" style="background-image:url(static/reveal/assets/images/templates//clothing/ladie-3.jpg )">
                            <div class="box-spacer-xl"></div>
                            <div class="box-content text-white text-center">
                                <header>
                                    <span class="display-4"><strong>Sport</strong></span>
                                </header>
                                <footer class="p-4">
                                    <small class="pre-label text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit</small>
                                </footer>
                            </div>
                        </a>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    <hr class="m-0">
    
    <!-- Sale black friday -->
    
    <section class="bg-white">
        <div class="container">
    
            <header class="wow fadeInUp" data-wow-delay=".2s">
                <h2 class="display-4">Sale <strong>black friday</strong> 70% off</h2>
            </header>
    
            <div class="row mx-n1">
                <div class="col-6 col-xl-3 p-1">
                    <div class="wow fadeInUp" data-wow-delay=".0s">
                        <div class="card card-fill">
                            <div class="card-image">
                                <a href="#">
                                    <img src="{% static 'reveal/assets/images/templates/clothing/shoe-1.jpg' %}" class="card-img-top img-hover" data-img="{% static 'reveal/assets/images/templates//clothing/shoe-1.jpg' %}" data-img-hover="{% static  'reveal/assets/images/templates//clothing/shoe-1a.jpg' %}" alt="...">
                                </a>
                            </div>
                            <div class="card-body p-3 p-lg-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 h5">
                                            <a href="product.html" class="text-dark">
                                                Coretta
                                            </a>
                                        </h2>
                                        <small class="pre-label text-muted">
                                            <span>$490</span>
                                            <s>$875</s>
                                        </small>
                                    </div>
                                    <div>
                                        <a href="product.html" class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <i class="icon icon-cart font-size-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6 col-xl-3 p-1">
                    <div class="wow fadeInUp" data-wow-delay=".1s">
                        <div class="card card-fill">
                            <div class="card-image">
                                <a href="#">
                                    <img src="{% static  'reveal/assets/images/templates//clothing/shoe-2.jpg' %}" class="card-img-top img-hover" data-img="{% static  'reveal/assets/images/templates//clothing/shoe-2.jpg' %}" data-img-hover="{% static  'reveal/assets/images/templates//clothing/shoe-2a.jpg' %}" alt="...">
                                </a>
                                <small class="card-badge badge badge-danger text-uppercase mr-2">50%</small>
                            </div>
                            <div class="card-body p-3 p-lg-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 h5">
                                            <a href="product.html" class="text-dark">
                                                Tonya
                                            </a>
                                        </h2>
                                        <small class="pre-label text-muted">
                                            <span>$419</span>
                                            <s>$957</s>
                                        </small>
                                    </div>
                                    <div>
                                        <a href="product.html" class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <i class="icon icon-cart font-size-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6 col-xl-3 p-1">
                    <div class="wow fadeInUp" data-wow-delay=".2s">
                        <div class="card card-fill">
                            <div class="card-image">
                                <a href="#">
                                    <img src="{% static  'reveal/assets/images/templates//clothing/shoe-3.jpg' %}" class="card-img-top img-hover" data-img="{% static  'reveal/assets/images/templates//clothing/shoe-3.jpg' %}" data-img-hover="{% static  'reveal/assets/images/templates//clothing/shoe-3a.jpg' %}" alt="...">
                                </a>
                            </div>
                            <div class="card-body p-3 p-lg-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 h5">
                                            <a href="product.html" class="text-dark">
                                                Raven
                                            </a>
                                        </h2>
                                        <small class="pre-label text-muted">
                                            <span>$502</span>
                                            <s>$851</s>
                                        </small>
                                    </div>
                                    <div>
                                        <a href="product.html" class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <i class="icon icon-cart font-size-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6 col-xl-3 p-1">
                    <div class="wow fadeInUp" data-wow-delay=".3s">
                        <div class="card card-fill">
                            <div class="card-image">
                                <a href="#">
                                    <img src="{% static  'reveal/assets/images/templates//clothing/shoe-4.jpg' %}" class="card-img-top img-hover" data-img="{% static  'reveal/assets/images/templates//clothing/shoe-4.jpg' %}" data-img-hover="{% static  'reveal/assets/images/templates//clothing/shoe-4a.jpg' %}" alt="...">
                                </a>
                                <small class="card-badge badge badge-warning text-uppercase mr-2">Last one</small>
                            </div>
                            <div class="card-body p-3 p-lg-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 h5">
                                            <a href="product.html" class="text-dark">
                                                Mufi
                                            </a>
                                        </h2>
                                        <small class="pre-label text-muted">
                                            <span>$584</span>
                                            <s>$838</s>
                                        </small>
                                    </div>
                                    <div>
                                        <a href="product.html" class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <i class="icon icon-cart font-size-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="text-right pt-4">
                <a href="#" class="link link-main link-dark">View collection</a>
            </div>
    
        </div>
    
    </section>
    
    <!-- Banner winter is beautiful -->
    
    <section class="bg-dark cover" style="background-image: url(static/reveal/assets/images/templates//clothing/gallery-5.jpg);">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-6">
                    <h2 class="display-4">Winter is <strong>beautiful</strong></h2>
                    <p>Jackets, shoes and accessories for all weathers.</p>
                    <a href="#" class="btn btn-rounded btn-outline-dark">View collection</a>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Popular woman&#x27;s products -->
    
    <section class="bg-white">
        <div class="container">
    
            <header class="wow fadeInUp" data-wow-delay=".2s">
                <h2 class="display-4">Popular <strong>woman's</strong> products</h2>
            </header>
    
            <div class="row mx-n1">
                <div class="col-6 col-xl-3 p-1">
                    <div class="wow fadeInUp" data-wow-delay=".0s">
                        <div class="card card-fill">
                            <div class="card-body p-3 p-lg-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 h5">
                                            <a href="product.html" class="text-dark">
                                                Coretta
                                            </a>
                                        </h2>
                                        <small class="pre-label text-muted">
                                            <span>$490</span>
                                            <s>$875</s>
                                        </small>
                                    </div>
                                    <div>
                                        <a href="product.html" class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <i class="icon icon-cart font-size-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-image pb-4">
                                <a href="#">
                                    <img src="{% static  'reveal/assets/images/templates//clothing/cloth-1.jpg' %}" class="card-img-top img-hover" data-img="{% static  'reveal/assets/images/templates//clothing/cloth-1.jpg' %}" data-img-hover="{% static  'reveal/assets/images/templates//clothing/cloth-1a.jpg' %}" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6 col-xl-3 p-1">
                    <div class="wow fadeInUp" data-wow-delay=".1s">
                        <div class="card card-fill">
                            <div class="card-body p-3 p-lg-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 h5">
                                            <a href="product.html" class="text-dark">
                                                Tonya
                                            </a>
                                        </h2>
                                        <small class="pre-label text-muted">
                                            <span>$419</span>
                                            <s>$957</s>
                                        </small>
                                    </div>
                                    <div>
                                        <a href="product.html" class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <i class="icon icon-cart font-size-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-image pb-4">
                                <a href="#">
                                    <img src="{% static  'reveal/assets/images/templates//clothing/cloth-2.jpg' %}" class="card-img-top img-hover" data-img="{% static  'reveal/assets/images/templates//clothing/cloth-2.jpg' %}" data-img-hover="{% static  'reveal/assets/images/templates//clothing/cloth-2a.jpg' %}" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6 col-xl-3 p-1">
                    <div class="wow fadeInUp" data-wow-delay=".2s">
                        <div class="card card-fill">
                            <div class="card-body p-3 p-lg-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 h5">
                                            <a href="product.html" class="text-dark">
                                                Raven
                                            </a>
                                        </h2>
                                        <small class="pre-label text-muted">
                                            <span>$502</span>
                                            <s>$851</s>
                                        </small>
                                    </div>
                                    <div>
                                        <a href="product.html" class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <i class="icon icon-cart font-size-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-image pb-4">
                                <a href="#">
                                    <img src="{% static  'reveal/assets/images/templates//clothing/cloth-3.jpg' %}" class="card-img-top img-hover" data-img="{% static  'reveal/assets/images/templates//clothing/cloth-3.jpg' %}" data-img-hover="{% static  'reveal/assets/images/templates//clothing/cloth-3a.jpg' %}" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-6 col-xl-3 p-1">
                    <div class="wow fadeInUp" data-wow-delay=".3s">
                        <div class="card card-fill">
                            <div class="card-body p-3 p-lg-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2 class="card-title mb-1 h5">
                                            <a href="product.html" class="text-dark">
                                                Mufi
                                            </a>
                                        </h2>
                                        <small class="pre-label text-muted">
                                            <span>$584</span>
                                            <s>$838</s>
                                        </small>
                                    </div>
                                    <div>
                                        <a href="product.html" class="d-inline-block" data-toggle="tooltip" data-placement="top" title="Add to cart">
                                            <i class="icon icon-cart font-size-xl"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-image pb-4">
                                <a href="#">
                                    <img src="{% static  'reveal/assets/images/templates//clothing/cloth-4.jpg' %}" class="card-img-top img-hover" data-img="{% static  'reveal/assets/images/templates//clothing/cloth-4.jpg' %}" data-img-hover="{% static  'reveal/assets/images/templates//clothing/cloth-4a.jpg' %}" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
    
            <div class="text-right pt-4">
                <a href="#" class="link link-main link-dark">View collection</a>
            </div>
        </div>
    
    </section>
    
    <!-- Footer banner -->
    
    <section class="p-0">
        <div class="position-relative">
            <div class="cover cover-overlay" style="background-image: url(static/reveal/assets/images/templates//clothing/gallery-1.jpg' %});"></div>
            <div class="py-8 text-white">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <h2 class="display-4">Challenge the <strong>darkness</strong></h2>
                            <p>Lace up your shoes and go out on the trail. Hiking shoes offer a great balance between weight, water protection, blister prevention, comfort, durability, and traction for those who need stable and protective trail footwear</p>
                            <a href="#" class="btn btn-rounded btn-outline-light">View collection</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Clothing categories -->
    
    <section class="bg-light">
        <div class="container">
    
            <div class="wow fadeInUp" data-wow-delay=".2s">
                <div class="row py-4">
                    <div class="col-lg-3 mb-4 mb-lg">
                        <h2 class="mb-0">Clothing</h2>
                        <p><a href="#" class="link link-main link-dark">Explore all categories</a></p>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-sm btn-outline-dark text-nowrap">Jackets</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-sm btn-outline-dark text-nowrap">Coats</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-sm btn-outline-dark text-nowrap">West</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-sm btn-outline-dark text-nowrap">Pullover</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-sm btn-outline-dark text-nowrap">Sweatshirts</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-sm btn-outline-dark text-nowrap">Hoodies</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-sm btn-outline-dark text-nowrap">Wheelchairs</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-sm btn-outline-dark text-nowrap">Long sleeve shirts</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="wow fadeInUp" data-wow-delay=".6s">
                <hr>
                <div class="row py-4">
                    <div class="col-lg-3 mb-4 mb-lg">
                        <h2 class="mb-0">Shoes</h2>
                        <p><a href="#" class="link link-main link-dark">Explore all categories</a></p>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Running shoes</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Sneaker</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Outdoor shoes</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Soccer shoes</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Indoor shoes</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Bathing shoes</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">tennis shoes</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Cycling shoes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="wow fadeInUp" data-wow-delay=".8s">
                <hr>
                <div class="row py-4">
                    <div class="col-lg-3 mb-4 mb-lg">
                        <h2 class="mb-0">Equipment</h2>
                        <p><a href="#" class="link link-main link-dark">Explore all categories</a></p>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Hiking</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Fitness</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Camping gear</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Running gear</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Soccer</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Cycling</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Water sports</a>
                            </div>
                            <div class="col col-lg-3 mb-3">
                                <a href="#" class="btn btn-rounded btn-block btn-outline-dark text-nowrap">Tennis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
    <section class="bg-white" id="stories">
        
        <div class="container text-center mb-5">
            <div class="wow fadeInUp" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <h2 class="h1">Successful stories</h2>
                        <p>Aliquam eget nisi nec diam dapibus vehicula</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card">
                            <div class="card-image lift br-sm">
                                <img src="{% static  'reveal/assets/images/demo-1.jpg' %}" class="card-img-top" alt="">
                            </div>
                            <div class="pt-3">
                                <div class="mb-2">
                                    <small class="pre-label text-muted">01.01.2020</small>
                                </div>
                                <h5 class="card-title">Never ending story</h5>
                                <p class="card-text">Ipsum takimata clita in kasd duis et laoreet erat dolor sit nulla amet</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="card">
                            <div class="card-image lift br-sm">
                                <img src="{% static  'reveal/assets/images/demo-1.jpg' %}" class="card-img-top" alt="">
                            </div>
                            <div class="pt-3">
                                <div class="mb-2">
                                    <small class="pre-label text-muted">01.01.2020</small>
                                </div>
                                <h5 class="card-title">Keep up with good work</h5>
                                <p class="card-text">Ipsum takimata clita in kasd duis et laoreet erat dolor sit nulla amet</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div class="wow fadeInUp" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                        <div class="card">
                            <div class="card-image lift br-sm">
                                <img src="{% static  'reveal/assets/images/demo-1.jpg' %}" class="card-img-top" alt="">
                            </div>
                            <div class="pt-3">
                                <div class="mb-2">
                                    <small class="pre-label text-muted">01.01.2020</small>
                                </div>
                                <h5 class="card-title">Find your destiny</h5>
                                <p class="card-text">Ipsum takimata clita in kasd duis et laoreet erat dolor sit nulla amet</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="pt-5 text-center">
                <div class="wow fadeInUp" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                    <a href="blog.html" class="btn btn-outline-info btn-rounded">Read all</a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white" id="testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="wow fadeInUp" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                        <blockquote class="blockquote-prime">
                            <div class="owl-carousel owl-loaded owl-drag" data-dots="true">
                                
                                
                            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1406px, 0px, 0px); transition: all 0s ease 0s; width: 4220px;"><div class="owl-item cloned" style="width: 703.328px;"><div class="text-center">
                                    <h4 class="mb-2">I could choose code, customer, or design, everything works pretty fine, love it.</h4>
                                    <div class="text-center">
                                        <cite title="Source Title">John Doe</cite>
                                    </div>
                                </div></div><div class="owl-item cloned" style="width: 703.328px;"><div class="text-center">
                                    <h4 class="mb-2">This site is all of perfect. <br>And customer support is professional.</h4>
                                    <div class="text-center">
                                        <cite title="Source Title">Megan Right</cite>
                                    </div>
                                </div></div><div class="owl-item active" style="width: 703.328px;"><div class="text-center">
                                    <h4 class="mb-2">I could choose code, customer, or design, everything works pretty fine, love it.</h4>
                                    <div class="text-center">
                                        <cite title="Source Title">John Doe</cite>
                                    </div>
                                </div></div><div class="owl-item" style="width: 703.328px;"><div class="text-center">
                                    <h4 class="mb-2">This site is all of perfect. <br>And customer support is professional.</h4>
                                    <div class="text-center">
                                        <cite title="Source Title">Megan Right</cite>
                                    </div>
                                </div></div><div class="owl-item cloned" style="width: 703.328px;"><div class="text-center">
                                    <h4 class="mb-2">I could choose code, customer, or design, everything works pretty fine, love it.</h4>
                                    <div class="text-center">
                                        <cite title="Source Title">John Doe</cite>
                                    </div>
                                </div></div><div class="owl-item cloned" style="width: 703.328px;"><div class="text-center">
                                    <h4 class="mb-2">This site is all of perfect. <br>And customer support is professional.</h4>
                                    <div class="text-center">
                                        <cite title="Source Title">Megan Right</cite>
                                    </div>
                                </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span class="icon icon-chevron-left"></span></button><button type="button" role="presentation" class="owl-next"><span class="icon icon-chevron-right"></span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    


      
    {% endblock %}
  
    