{% extends 'hf.html' %}

{% block content %}


    <!-- Header -->
    
    <section class="cover-wrap bg-primary bg-primary-gradient">
    
        <div class="cover cover-overlay cover-gradient-vertical-bottom" style="background-image: url(assets/images/general/4.jpg);opacity:.6"></div>
    
        <div class="container position-relative">
    
            <header class="wow fadeInUp" data-wow-delay=".1s">
                <div class="row justify-content-center pt-5 text-center text-white mb-5">
                    <div class="col-xl-8">
                        <h1 class="mb-0">One stop agency</h1>
                        <p>You're lucky to be with us</p>
                    </div>
                </div>
            </header>
    
            <div class="row justify-content-center pt-lg-5 mb-5">
                <div class="col-xl-10">
                    <div class="row gutters-mobile align-items-center justify-content-center">
                        <div class="col-6 col-lg-4 mb-2 mb-lg-4">
                            <div class="wow fadeInUp" data-wow-delay=".3s">
                                <div class="lift bg-white br-sm pt-lg-5">
                                    <div class="p-3 p-lg-5">
                                        <div class="pb-4"><i class="display-2 icon icon-graduation-hat"></i></div>
                                        <h2 class="h4">Aplication development</h2>
                                        <div class="d-none d-lg-block">
                                            <p class="mb-1"><a href="#" class="link link-right link-dark">User data</a></p>
                                            <p class="mb-1"><a href="#" class="link link-right link-dark">Flow chart</a></p>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-light btn-block py-3 py-lg-4">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 mb-2 mb-lg-4">
                            <div class="wow fadeInUp" data-wow-delay=".4s">
                                <div class="lift bg-white br-sm pt-lg-5">
                                    <div class="p-3 p-lg-5">
                                        <div class="pb-4"><i class="display-2 icon icon-laptop-phone"></i></div>
                                        <h2 class="h4">Cross platform development</h2>
                                        <div class="d-none d-lg-block">
                                            <p class="mb-1"><a href="#" class="link link-right link-dark">Dynamic website</a></p>
                                            <p class="mb-1"><a href="#" class="link link-right link-dark">iOS support</a></p>
                                            <p class="mb-1"><a href="#" class="link link-right link-dark">Android support</a></p>
                                            <p class="mb-1"><a href="#" class="link link-right link-dark">Windows support</a></p>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-light btn-block py-3 py-lg-4">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-4 mb-2 mb-lg-4 d-none d-lg-inline-block">
                            <div class="wow fadeInUp" data-wow-delay=".5s">
                                <div class="lift bg-white br-sm pt-lg-5">
                                    <div class="p-3 p-lg-5">
                                        <div class="pb-4"><i class="display-2 icon icon-heart-pulse"></i></div>
                                        <h2 class="h4">Software development</h2>
                                        <div class="d-none d-lg-block">
                                            <p class="mb-1"><a href="#" class="link link-right link-dark">HTML mockups</a></p>
                                            <p class="mb-1"><a href="#" class="link link-right link-dark">Markup development</a></p>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-light btn-block py-3 py-lg-4">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="wow fadeInUp" data-wow-delay=".7s">
                <div class="text-white py-lg-5 text-center">
                    <p class="lead">
                        <strong>We are hiring</strong> new developers and designers!
                    </p>
                    <a href="#" class="btn btn-rounded btn-outline-light ml-2">Apply Now</a>
                </div>
            </div>
    
        </div>
    </section>
    
    <!-- We care about everything -->
    
    <section class="bg-white">
        <div class="container">
    
            <header class="wow fadeInUp" data-wow-delay=".1s">
                <div class="row justify-content-center pt-5 text-center mb-5">
                    <div class="col-xl-8">
                        <h2>We care about everything</h2>
                        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </header>
    
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="wow fadeInUp" data-wow-delay=".2s">
                        <div class="d-flex align-items-center mb-3">
                            <i class="icon icon-question-circle icon-sm text-primary mr-3"></i>
                            <div class="h5 mb-0 ">Get ready</div>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque eaque nulla rem dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="wow fadeInUp" data-wow-delay=".3s">
                        <div class="d-flex align-items-center mb-3">
                            <i class="icon icon-database icon-sm text-primary mr-3"></i>
                            <div class="h5 mb-0 ">Data improvement</div>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque eaque nulla rem dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="wow fadeInUp" data-wow-delay=".4s">
                        <div class="d-flex align-items-center mb-3">
                            <i class="icon icon-heart-pulse icon-sm text-primary mr-3"></i>
                            <div class="h5 mb-0 ">Better health</div>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque eaque nulla rem dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="wow fadeInUp" data-wow-delay=".5s">
                        <div class="d-flex align-items-center mb-3">
                            <i class="icon icon-earth icon-sm text-primary mr-3"></i>
                            <div class="h5 mb-0 ">100 Countries</div>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque eaque nulla rem dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="wow fadeInUp" data-wow-delay=".6s">
                        <div class="d-flex align-items-center mb-3">
                            <i class="icon icon-briefcase icon-sm text-primary mr-3"></i>
                            <div class="h5 mb-0 ">Online bussiness</div>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque eaque nulla rem dolore.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-5">
                    <div class="wow fadeInUp" data-wow-delay=".7s">
                        <div class="d-flex align-items-center mb-3">
                            <i class="icon icon-history icon-sm text-primary mr-3"></i>
                            <div class="h5 mb-0 ">24/7 Support</div>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque eaque nulla rem dolore.</p>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>
    
    <!-- Services -->
    
    <section>
        <div class="container">
    
            <header class="wow fadeInUp" data-wow-delay=".1s">
                <div class="row justify-content-center pt-5 text-center mb-5">
                    <div class="col-xl-8">
                        <h2>We will provide everything you need</h2>
                        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </header>
            <header>
            </header>
    
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <div class="wow fadeInUp" data-wow-delay=".2s">
                            <div class="box bg-white br-sm mb-4 mb-lg-0 shadow-sm">
                                <div class="box-image">
                                    <img src="assets/images//general/5.jpg" class="img-fluid" alt="" />
                                </div>
                                <div class="box-content px-4">
                                    <small class="pre-label">Services</small>
                                    <div class="h4">Branding</div>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                                    <div class="pt-3">
                                        <a href="#" class="link link-main link-dark">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="wow fadeInUp" data-wow-delay=".3s">
                            <div class="box bg-white br-sm mb-4 mb-lg-0 shadow-sm">
                                <div class="box-image">
                                    <img src="assets/images//general/x3.jpg" class="img-fluid" alt="" />
                                </div>
                                <div class="box-content px-4">
                                    <small class="pre-label">Promotion</small>
                                    <div class="h4">Marketing</div>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                                    <div class="pt-3">
                                        <a href="#" class="link link-main link-dark">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="wow fadeInUp" data-wow-delay=".4s">
                            <div class="box bg-white br-sm mb-4 mb-lg-0 shadow-sm">
                                <div class="box-image">
                                    <img src="assets/images//general/6.jpg" class="img-fluid" alt="" />
                                </div>
                                <div class="box-content px-4">
                                    <small class="pre-label">Development</small>
                                    <div class="h4">Mobile Apps</div>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                                    <div class="pt-3">
                                        <a href="#" class="link link-main link-dark">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer -->
   
    {% endblock %}