{% extends 'index.html' %}

{% block content %}
<div class="container-fluid mt--6">
     
    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Add Category</h3>
              </div>
              <div class="col text-right">
                <a href="#category" class="btn btn-sm btn-primary">edit</a>
              </div>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5" id="category">
            
            <form role="form" method="POST" action="{%url 'category' %}">
                {% csrf_token %}
              <div class="form-group">
                <div ><label for="product_name">Category Name</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Category Name" type="text" name="categ_name">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="category_description">Category Description</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Description" type="text" name="categ_desc">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_email">Vendor Email</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <select class="form-control" name="vendor_email">
                    {% for i in vendor %}
                    <option value="{{i.vendor_email}}">{{i.vendor_email}}
                    {% endfor %}
                  </select>
                </div>
              </div>
              

              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
{% endblock %}