{% extends 'index.html' %}

{% block content %}


<style>
    .main{
        padding-top: 10px%;
    }
    .left{
      width: 50%;
      float: left;
    }
    .search{
      padding-top: 10px;
    }
    .right{
      width: 50%;
      float: left;
      /* padding-left: 5px; */
    }
    </style>
    <div  class="main">
    <div class="left">
    
    <div class="body">
        <div>
            <h1>Add Driver</h1>
        </div>
        <div class="form">
        
    <form action="{% url 'driver' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
   
   
    
        <div class="form-group">
          <label for="exampleInputName1"> Name</label>
          <input type="text" class="form-control" id="exampleInputName1" placeholder=" Name" name="drivername">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Age</label>
            <input type="number" class="form-control" id="exampleInputName1" placeholder="Age" name="driverage">
          </div>
         
        
    
        
    
        
          <div class="form-group">
            <label for="exampleInputPrice">Place</label>
            <input type="text" class="form-control" id="exampleInputPrice" placeholder="Place" name="driverplace">
          </div>
          <div class="form-group">
            <label for="exampleInputPrice">Experience</label>
            <input type="number" class="form-control" id="exampleInputPrice" placeholder="Experience" name="experience">
          </div>

      
          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-4">Add Driver</button>
          </div>
        
      </form>
    </div>
    
      
    
    </div>
    </div>
    <div class="right">
      <div class="search">
         <form  action="{% url 'dsearch' %}" method="POST">
          {% csrf_token %}
  <input class="sinput" type="text" placeholder="Driver Name" name="dname">
  
  
  
  
  <button class="btn btn-primary" type="submit">SEARCH</button>
  </form>
        <h1>Driver List</h1>
    </div>
    <div>
        <table width=100% style="border: 2px solid;">
            <tr>
                <th>Name</th>
                <th>Place</th>
                <th>Experience</th>
                                       
            </tr>
    
        {% for i in dr %}
            <tr>
                
                <td>{{i.driver_name}} </td>
                <td>{{i.place}} </td>
                <td>{{i.experience}}</td>
            </tr>
           
        {% endfor %}
        </table>
    
    </div>
    </div>
    </div>
    
{% endblock %}