{% extends 'index.html' %}

{% block content %}
<div class="container-fluid mt--6">
     
    <div class="row">
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Add Product</h3>
              </div>
              <div class="col text-right">
                <a href="#listproduct" class="btn btn-sm btn-primary">edit</a>
              </div>
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5" id="addproduct">
            
            <form role="form" method="POST" action="{%url 'updateproduct' productid=id %}">
                {% csrf_token %}
              <div class="form-group">
                <div ><label for="product_name">Product Name</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Product Name" type="text" name="product_name" value="{{k.product_name}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="product_description">Product Description</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Description" type="text" name="product_description" value="{{k.product_description}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="price">Price</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Price" type="text"name="price" value="{{k.price}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="stock">Stock</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Stock" type="text" name="stock" value="{{k.stock}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="category_name">Category</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <select name="category_name" class="form-control">
                    {% for i in cat %}
                    <option value="{{k.category_name}}">{{i.category_name}}
                    {% endfor %}
                  </select>
                  <!-- <input class="form-control" placeholder="Category Name" type="text" name="category_name" value="{{k.category_name}}"> -->
                </div>
              </div>
              <div class="form-group"> 
                <div ><label for="subcat_name">Subcategory Name</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <select class="form-control" name="subcat_name">
                    {% for i in subc %}
                    <option value="{{k.subcat_name}}">{{i.subcat_name}}
                    {% endfor %}
                  </select>
                  <!-- <input class="form-control" placeholder="Subcategory Name" type="text" name="subcat_name" value="{{k.subcat_name}}"> -->
                </div>
              </div>
              <div class="form-group">
                <div ><label for="stock_status">Stock Status</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Stock Status" type="text" name="stock_status" value="{{k.stock_status}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_email">Vendor Email</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <select class="form-control" name="vendor_email">
                    {% for i in vend %}
                    <option value="{{k.vendor_email}}">{{i.vendor_email}}
                    {% endfor %}
                  </select>
                  <!-- <input class="form-control" placeholder="Vendor Email" type="text" name="vendor_email" value="{{k.vendor_email}}"> -->
                </div>
              </div>
              

              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card" id="listproduct">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0"></h3>
              </div>
              <div class="col text-right">
                <a href="#addproduct" class="btn btn-sm btn-primary">Add New</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for i in pro %}
                <tr>
                  
                  <th scope="row">
                    {{ i.product_name }}
                  </th>
                  <td>
                    <a href="{%url 'updateproduct' productid=i.id %}" class="btn btn-sm btn-primary">Edit</a>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <a href="{%url 'deleteproduct' productid=i.id %}" class="btn btn-sm btn-primary">X</a>
                    </div>
                  </td>
                  
                  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% endblock %}