{% extends 'index.html' %}

{% block content %}


<style>
    .main{
        padding-top: 10px%;
    }
    .search{
      padding-top: 10px;
    }
    .left{
      width: 50%;
      float: left;
    }
    .right{
      width: 50%;
      float: left;
      /* padding-left: 5px; */
    }
    </style>
    <div  class="main">
    <div class="left">
    
    <div class="body">
        <div>
            <h1>Add Customers</h1>
        </div>
        <div class="form">
        
    <form action="{% url 'adduser' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
   
    <div class="form-group">
        <label for="exampleInputPrice">Username</label>
        <input type="text" class="form-control" id="exampleInputPrice" placeholder="Username" name="username">
      </div>
      <div class="form-group">
        <label for="exampleInputPrice">Customer ID</label>
        <input type="number" class="form-control" id="exampleInputPrice" placeholder="Customer ID" name="customer_id">
      </div>

      <div class="form-group">
        <label for="exampleInputPrice">Email</label>
        <input type="email" class="form-control" id="exampleInputPrice" placeholder="Email" name="email">
      </div>

      <div class="form-group">
        <label for="exampleInputPrice">Created at</label>
        <input type="date" class="form-control" id="exampleInputPrice" placeholder="created at" name="created_at">
      </div>
    
        <div class="form-group">
          <label for="exampleInputName1">First Name</label>
          <input type="text" class="form-control" id="exampleInputName1" placeholder="First Name" name="first_name">
        </div>
        <div class="form-group">
            <label for="exampleInputName1">Last Name</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Last Name" name="last_name">
          </div>
          <div class="form-group">
            <label for="exampleInputPrice">Password</label>
            <input type="password" class="form-control" id="exampleInputPrice" placeholder="Password" name="Password">
          </div>
        
    
        <div class="form-group">
          <label for="exampleInputBrand">Address</label>
          <input type="text" class="form-control" id="exampleInputBrand" placeholder="Address" name="address">
        </div>
    
        <div class="form-group">
            <label for="exampleInputPrice">postcode</label>
            <input type="text" class="form-control" id="exampleInputPrice" placeholder="postcode" name="postcode">
          </div>
          <div class="form-group">
            <label for="exampleInputPrice">City</label>
            <input type="text" class="form-control" id="exampleInputPrice" placeholder="City" name="city">
          </div>

          <div class="form-group">
            <label for="exampleInputPrice">Phone</label>
            <input type="number" class="form-control" id="exampleInputPrice" placeholder="Phone" name="phone">
          </div>
          <div class="form-group">
            <label for="cars">Choose a Role:</label>

                <select id="role" name="role">
                  <option value="volvo">admin</option>
                  <option value="saab">customer</option>
                  <option value="opel">driver</option>
                  
                </select>
            
          </div>
    
        
        
          <div class="form-group">
            <label for="image"></label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image">
                <label class="custom-file-label" for="image">choose file</label>
              </div>
            </div>
        
          </div>
        
    
       
    
          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-4">Add Customer</button>
          </div>
        
      </form>
    </div>
    
      
    
    </div>
    </div>
    <div class="right">
      <div class="search">
        <form  action="{% url 'usearch' %}" method="POST">
          {% csrf_token %}
  <input class="sinput" type="text" placeholder="Name" name="username">
  
  
  
  
  <button class="btn btn-primary" type="submit">SEARCH</button>
  </form>
        <h1>Customer List</h1>
    </div>
    <div>
        <table width=100% style="border: 2px solid;">
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Email</th>
                                       
            </tr>
    
        {% for i in u %}
            <tr>
                
                <td>{{i.username}} </td>
                <td>{{i.city}} </td>
                <td>{{i.email}}</td>
            </tr>
           
        {% endfor %}
        </table>
    
    </div>
    </div>
    </div>
    
{% endblock %}