{% extends 'index.html' %}

{% block content %}
<div class="col-xl-4">
    <div class="card" id="listcategory">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0"></h3>
          </div>
          <div class="col text-right">
            <a href="#addcategory" class="btn btn-sm btn-primary">Add New</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Name</th>
              <!-- <th scope="col">Edit</th> -->
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for i in lc %}
            <tr>
              
              <th scope="row">
                {{ i.category_name }}
              </th>
              <!-- <td>
                <a href="{%url 'updatecategory' categoryid=i.id %}" class="btn btn-sm btn-primary">Edit</a>
              </td> -->
              <td>
                <div class="d-flex align-items-center">
                  <a href="{%url 'deletecategory' categoryid=i.id %}" class="btn btn-sm btn-primary">X</a>
                </div>
              </td>
              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}