{% extends 'index.html' %}

{% block content %}
<div class="container-fluid mt--6">
     
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Add vendor</h3>
              </div>
              
            </div>
          </div>
          <div class="card-body px-lg-5 py-lg-5" id="addvendor">
            
            <form role="form" method="POST" action="{%url 'vupdate' vendorid=id %}">
              {% csrf_token %}
              <div class="form-group">
                <div ><label for="vendor_email"> vendor_email</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="vendor_email" type="email" name="vendor_email" value="{{obj.vendor_email}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_branch"> Branch</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Branch" type="text" name="vendor_branch" value="{{obj.vendor_branch}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_name"> Name</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text"name="vendor_name" value="{{obj.vendor_name}}" >
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_password"> Password</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" name="vendor_password" value="{{obj.vendor_password}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_address"> Address</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Name" type="text" name="vendor_address" value="{{obj.vendor_address}}">
                </div>
              </div>
              <div class="form-group">
                <div ><label for="vendor_phone"> Phone Number</label></div>
                <div class="input-group input-group-merge input-group-alternative mb-3">
                 
                  <div class="input-group-prepend">

                    <span class="input-group-text"><i class="ni ni-hat-3"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Phone Number" type="tel" name="vendor_phone" value="{{obj.vendor_phone}}">
                </div>
              </div>
            
              
              <div class="text-center">
                <button type="submit" class="btn btn-primary mt-4">
                    Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    
    </div>
    <!-- Footer -->
    {% endblock %}